.wrapper {
    /* min-height: 75%;
    padding-bottom: 75px; */
    background: url("https://image.freepik.com/free-vector/grey-polygonal-background_1055-3164.jpg") no-repeat center center fixed;
    background-size: cover;
    /* margin-top: -15px; */
  }