/* .moneyBox{
    text-align: center;
} */
/* 
img.moneyBox {
    display:inline-block;
    margin-left: auto;
    margin-right: auto;
    
} */
/* .flow-text {
    display: inline-block;
     */
/* } */

/* .card-content {
    text-align: center;
} */

/* .responsive-img{
    display: inline-block;
} */

/* .flow-text{
    display: inline-block;
    text-align:center;
} */

/* #inbox {
    text-align: center;
} */